.main_container{
margin-top: 50px;
margin-bottom: 50px;
width: 85%;
height: 100%;
padding: 10px;
background-color: rgba(0, 0, 0, 0.767);
text-align: center;
border-radius: 18px;
box-sizing: content-box;
}