.main__title{
    width: 100%;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;
    
}
.main__title > h2 {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    animation: pulse 6s ease-in-out infinite;
    text-align: center;
}
.main__title2{
    width: 100%;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__title2 > h2 {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    animation: pulse 6s ease-in-out infinite;
    text-align: center;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
@media screen and (min-width: 1200px){
    .main__title > h2 {
    font-size: 3rem;
    }
}